{% extends 'base_guest.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="container d-flex flex-column align-items-center w-50 py-5">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
          {{message}}
          <p class="my-4">Haven't made an account? <a href="{% url 'authentication:register' %}">Register</a></p>
    </div>
</div>

{% endblock content %}
