<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Podcast</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
  <h2 class="mb-4">Create Podcast</h2>
  <form action="{% url 'submit_podcast' %}" method="post">
    <!-- {% csrf_token %} -->
    <div class="form-group">
      <label for="judul">Judul:</label>
      <input type="text" class="form-control" id="judul" name="judul" required>
    </div>
    <div class="form-group">
      <label for="genre">Genre:</label><br>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="genre1" name="genre[]" value="Technology">
        <label class="form-check-label" for="genre1">Technology</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="genre2" name="genre[]" value="Education">
        <label class="form-check-label" for="genre2">Education</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="genre3" name="genre[]" value="Sports">
        <label class="form-check-label" for="genre3">Sports</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="genre4" name="genre[]" value="History">
        <label class="form-check-label" for="genre4">History</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="genre5" name="genre[]" value="Comedy">
        <label class="form-check-label" for="genre5">Comedy</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="genre6" name="genre[]" value="Mystery">
        <label class="form-check-label" for="genre6">Mystery</label>
      </div>
    </div>
    <div class="form-group">
      <label for="durasi">Durasi:</label>
      <input type="text" class="form-control" id="durasi" name="durasi" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
