{% extends 'base_artist_songwriter.html' %}
{% load static %}

{% block meta %}
<head>
    <title>List Royalti</title>
</head>
{% endblock meta %}

{% block content %}
<div class="container mt-4">
  <h1 class="mb-4">List Royalti</h1>

  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th colspan="5" class="text-center">Daftar Royalti</th>
      </tr>
      <tr>
        <th>Judul Lagu</th>
        <th>Judul Album</th>
        <th>Total Play</th>
        <th>Total Download</th>
        <th>Total Royalti Didapat</th>
      </tr>
    </thead>
    <tbody>
      <!-- Placeholder for Royalti list -->
      {% for record in records_royalti_label%}
      <tr class="text-white">
          <td class="py-3 px-4">{{record.6}}</td>
          <td class="py-3 px-4">{{record.5}}</td>
          <td class="py-3 px-4">{{record.3}}</td>
          <td class="py-3 px-4">{{record.4}}</td>
          <td class="py-3 px-4">Rp {{record.1}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content%}