{% extends 'base_user.html' %}
{% load static %}

{% block meta %}
<head>
    <title>Create Album</title>
</head>
{% endblock meta %}

{% block content %}
<div class="container mt-4">
  <h1 class="mb-4">Create Album</h1>
  <form method="post" action="{% url 'album_song_royalti:create_album' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="album-title" class="form-label">Album Title</label>
      <input type="text" class="form-control" id="album-title" name="album-title" required>
    </div>
    <div class="mb-3">
      <label for="album-label" class="form-label">Album Label</label>
      <select class="form-control" id="album-label" name="album-label" required>
        {% for label in list_label %}
          <option value="{{ label.0 }}">{{ label.1 }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
{% endblock content %}
