{% extends 'base_user.html' %}
{% load static %}

{% block meta %}
<head>
    <title>Create Songs</title>
</head>
{% endblock meta %}

{% block content %}
<h1>Create Lagu</h1>

    <div class="mb-3">
      <h3 onclick="window.location.href='create_songs.html';" style="cursor:pointer;">
        Logged in as: Songwriter
      </h3>
    </div>
    <form action="/add_song" method="post" class="mb-4">
      <div class="mb-3">
        <label for="song-album" class="form-label">Album: Album1</label>
      </div>

      <div class="mb-3">
        <label for="song-title" class="form-label">Judul Lagu:</label>
        <input type="text" id="song-title" name="song_title" class="form-control" required/>
      </div>

      <div class="mb-3">
        <label for="song-artist" class="form-label">Artis:</label>
        <select id="song-artist" name="song_artist" class="form-select" required>
          <option value="">Pilih Artis</option>
          <option value="Artis1">Artis1</option>
          <option value="Artis2">Artis2</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="song-writer" class="form-label">Songwriter:</label>
        <select id="song-writer" name="song_writer" class="form-select" multiple required>
          <option value="Songwriter1">Songwriter1</option>
          <option value="Songwriter2">Songwriter2</option>
          <option value="Songwriter3">Songwriter3</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="song-genre" class="form-label">Genre:</label>
        <select id="song-genre" name="song_genre" class="form-select" multiple required>
          <option value="Genre1">Pop</option>
          <option value="Genre2">Rock</option>
          <option value="Genre3">Classical</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="song-duration" class="form-label">Durasi (menit):</label>
        <input type="text" id="song-duration" name="song_duration" class="form-control" required/>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock content%}