{% extends 'base_user.html' %}
{% load static %}

{% block meta %}
<head>
    <title>List Album</title>
</head>
{% endblock meta %}

{% block content %}
<div class="container mt-5">
  <h1>List Album</h1>

  <button class="btn btn-success mb-3" onclick="location.href='{% url 'album_song_royalti:create_album' %}'">Tambah Album</button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="5">Daftar Album</th>
      </tr>
      <tr>
        <th>Judul</th>
        <th>Label</th>
        <th>Jumlah Lagu</th>
        <th>Total Durasi</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      {% for record in list_albums %}
      <tr>
        <td>{{ record.1 }}</td>
        <td>{{ record.5 }}</td>
        <td>{{ record.3 }}</td>
        <td>{{ record.4 }}</td>
        <td>
          <button class="btn btn-primary btn-sm" onclick="window.location.href='{% url 'album_song_royalti:list_song' %}?id={{ record.0 }}'">Lihat Daftar Lagu</button>
          <button class="btn btn-warning btn-sm" onclick="window.location.href='{% url 'album_song_royalti:create_song' %}?id={{ record.0 }}'">Tambah Lagu</button>
          <button class="btn btn-danger btn-sm" onclick="window.location.href='{% url 'album_song_royalti:delete_album_user' %}?id={{ record.0 }}'">Hapus</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
