{% extends 'base_user.html' %}
{% load static %}

{% block meta %}
<head>
    <title>List Album</title>
</head>
{% endblock meta %}

{% block content %}
<div class="container mt-5">
  <h1>List Album</h1>
  <h3 class="mb-3 cursor-pointer" onclick="window.location.href='list_album_label.html';">Logged in as: Artist/Songwriter SSSSSSSSSSS</h3>

  <button class="btn btn-success mb-3" onclick="location.href='{% url 'album_song_royalti:create_album' %}'">Tambah Album</button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="5">Daftar Album</th>
      </tr>
      <tr>
        <th>Judul</th>
        <th>Label</th>
        <th>Jumlah Lagu</th>
        <th>Total Durasi</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records_album %}
      <tr>
        <td>{{record.1}}</td>
        <td>LabelA</td>
        <td>{{record.2}}</td>
        <td>{{record.4}}</td>
        <td>
          <button class="btn btn-primary btn-sm" onclick="window.location.href='list_songs.html';">Lihat Daftar Lagu</button>
          <button class="btn btn-warning btn-sm" onclick="window.location.href='Create_songs.html';">Tambah Lagu</button>
          <button class="btn btn-danger btn-sm">Hapus</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <button class="btn btn-info" onclick="window.location.href='../../../cek_royalti/templates/cek_royalti.html';">Lihat Royalti</button>
</div>
{% endblock content %}