{% extends 'base_user.html' %}

{% block meta %}
    <title>Paket</title>
    <style>
      .bg-yellow{
        background-color: #c6c639;
      }
      .bg-green{
        background-color: #97b51d;
      }

      .container{
        min-height: 100vh;
      }

      .text-white {
        color: white;
      }
    </style>
{% endblock meta %}

{% block content %}
<div class="container border p-lg-5 text-white text-center">
    <div class="bg-dark d-flex flex-column justify-content-center align-items-center rounded p-lg-5">
      <h2 class="mb-5">RIWAYAT TRANSAKSI PAKET</h2>
      <table class="table table-striped">
        <thead class="table-primary">
            <tr>
              <th scope="col">Jenis</th>
              <th scope="col">Tanggal Dimulai</th>
              <th scope="col">Tanggal Berakhir</th>
              <th scope="col">Metode Pembayaran</th>
              <th scope="col">Nominal</th>
            </tr>
          </thead>
          <tbody>
            {% for item in riwayat %}
            <tr>
              <th scope="row">{{item.1}}</th>
              <td>{{item.3}}</td>
              <td>{{item.4}}</td>
              <td>{{item.5}}</td>
              <td>Rp{{item.6}}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
      <a href="{% url 'paket:paket' %}" class="btn btn-primary">Kembali</a>
    </div>
  </div>

{% endblock content %}
