<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List Album</title>
  </head>
  <body>
    <h1>List Album</h1>
    <h3 onclick="window.location.href='list_album_label.html';">
      Logged in as: Artist/Songwriter
    </h3>
    <br />

    <button onclick="window.location.href='create_album.html';">
      Tambah Album
    </button>
    <table border="1">
      <thead>
        <tr>
          <th colspan="5">Daftar Album</th>
        </tr>
        <tr>
          <th>Judul</th>
          <th>Label</th>
          <th>Jumlah Lagu</th>
          <th>Total Durasi</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody>
        <!-- Placeholder for album list -->
        <tr>
          <td>Album1</td>
          <td>LabelA</td>
          <td>0</td>
          <td>0 menit</td>
          <td>
            <button onclick="window.location.href='list_songs.html';">
              Lihat Daftar Lagu
            </button>
            <button onclick="window.location.href='Create_songs.html';">
              Tambah Lagu
            </button>
            <button>Hapus</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button
      onclick="window.location.href='../../../cek_royalti/templates/cek_royalti.html';" >
      Lihat Royalti
    </button>
  </body>
</html>
