{% extends 'base_user.html' %}
{% load static %}

{% block meta %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Playlist - Marmut</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
{% endblock meta %}

{% block content %}

        <div class="playlist-box">
            <h2>User Playlist Detail</h2>
            <p>Judul: {{playlist.judul}}</p>
            <p>Pembuat: {{playlist.pembuat_playlist}}</p>
            <p>Jumlah Lagu: {{playlist.jumlah_lagu}}</p>
            <p>Total Durasi: {{playlist.total_durasi_hours}} jam {{playlist.total_durasi_minutes}} menit</p>
            <p>Tanggal Dibuat: {{playlist.tanggal_dibuat}}</p>
            <p>Deskripsi: {{playlist.deskripsi}}</p>
            <button class="btn btn-primary">Shuffle Play</button>
            <a href="{% url 'kelola_playlist:playlist' %}" class="btn btn-secondary">Kembali</a>

            <div class="song-list" style="margin-top: 30px;">

                <h3>DAFTAR LAGU</h3>
                <table>
                    <tr>
                        <th>Judul Lagu</th>
                        <th>Oleh</th>
                        <th>Durasi</th>
                        <th>Actions</th>
                    </tr>
                    {% for song in songs %}
                    <tr>
                        <td>{{ song.judul }}</td>
                        <td>{{ song.oleh }}</td>
                        <td>{{ song.durasi }} menit</td>
                        <td>
                            <a href="{% url 'play_song:song_detail' playlist.idPlaylist song.id %}" class="btn btn-primary">Lihat</a>
                            <a href="{% url 'play_song:song_detail' playlist.idPlaylist song.id %}" class="btn btn-success">Play</a>
                            <a href="{% url 'kelola_playlist:delete_song' playlist.idPlaylist song.id %}" class="btn btn-danger">Hapus</button></a>
                        </td>
                    </tr>
                    {% endfor %}
    
                </table>
                <a href="{% url 'kelola_playlist:tambah_lagu' playlist.idPlaylist %}" class="btn btn-primary">Tambah Lagu</a>
            </div>
        </div>
    </div>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock content %}
