{% extends 'base_user.html' %}
{% load static %}

{% block meta %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Playlist - Marmut</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
{% endblock meta %}

{% block content %}

        <div class="playlist-box">
            <h2>User Playlist Detail</h2>
            <p style="text-align: left;">Judul: Playlist1</p>
            <p style="text-align: left;">Pembuat: Pembuat1</p>
            <p style="text-align: left;">Jumlah Lagu: 12</p>
            <p style="text-align: left;">Total Durasi: 8 jam 20 menit</p>
            <p style="text-align: left;">Tanggal Dibuat: 18/03/24</p>
            <p style="text-align: left;">Deskripsi: Lorem Ipsum ....</p>
            <button class="btn btn-primary">Shuffle Play</button>
            <a href="playlist.html" class="btn btn-secondary">Kembali</a>

            <div class="song-list">
                <h3>DAFTAR LAGU</h3>
                <table>
                    <tr>
                        <th>Judul Lagu</th>
                        <th>Oleh</th>
                        <th>Durasi</th>
                        <th>Actions</th>
                    </tr>
                    <!-- Contoh baris lagu -->
                    <tr>
                        <td>Song1</td>
                        <td>Artist1</td>
                        <td>2 menit</td>
                        <td>
                            <button class="btn btn-info">Lihat</button>
                            <button class="btn btn-success">Play</button>
                            <button class="btn btn-danger">Hapus</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Song2</td>
                        <td>Artist2</td>
                        <td>3 menit</td>
                        <td>
                            <button class="btn btn-info">Lihat</button>
                            <button class="btn btn-success">Play</button>
                            <button class="btn btn-danger">Hapus</button>
                        </td>
                    </tr>
    
                </table>
                <a href="tambah_lagu.html" class="btn btn-primary">Tambah Lagu</a>
            </div>
        </div>
    </div>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock content %}
