{% extends 'base_user.html' %}
{% load static %}

{% block meta %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Playlist - Marmut</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

{% endblock meta %}

{% block content %}

    <div class="container">
        <h1>Tambah Lagu</h1>
            <form method="POST">
                {% csrf_token %}
                <label for="song">Lagu:</label>
                    <select id="song" name="song_id">
                        <option value="">Pilih Lagu</option>
                        {% for song in songs %}
                        <option value="{{ song.id_konten }}">{{song.judul}} - {{song.artist}}</option>
                        {% endfor %}
                    </select>
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
    </div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock content %}
