{% extends 'base_user.html' %}

{% block meta %}
    <title>Dashboard</title>
    <style>
      .bg-yellow{
        background-color: #c6c639;
      }
      .bg-green{
        background-color: #97b51d;
      }

      .container{
        min-height: 100vh;
      }

      .text-white {
        color: white;
      }
    </style>
{% endblock meta %}

{% block content %}
<style></style>
<div class="container border p-lg-5 text-white text-center">
    <div class="bg-dark d-flex flex-column justify-content-center align-items-center rounded p-lg-5">
      <h2 class="mb-5">User Dashboard</h2>
      <div class="row bg-primary p-3 rounded w-50">
        <div class="col">
          <div class="d-flex flex-column align-items-start m-3">
            Name
            <b>{{user.2}}</b>
          </div>
          <div class="d-flex flex-column align-items-start m-3">
            Email
            <b>{{email}}</b>
          </div>
          <div class="d-flex flex-column align-items-start m-3">
            Kota Asal
            <b>{{user.7}}</b>
          </div>
          <div class="d-flex flex-column align-items-start m-3">
            Gender
            {% if user.3 == 1%}
            <b>Laki-laki</b>
            {% else %}
            <b>Perempuan</b>
            {% endif %}
          </div>
        </div>
        <div class="col">
            <div class="d-flex flex-column align-items-start m-3">
                Tempat Lahir
                <b>{{user.4}}</b>
              </div>
              <div class="d-flex flex-column align-items-start m-3">
                Tanggal Lahir
                <b>{{user.5}}</b>
              </div>
              <div class="d-flex flex-column align-items-start m-3">
                Role
                <b>{{role}}</b>
              </div>
        </div>
      </div>
      <section class="row py-5">
        <h2 class="mb-5">Daftar Playlist</h2>
        <div class="d-flex flex-wrap justify-content-center gap-5">
          {% if not playlist %}
          <p>Tidak memiliki playlist</p>
          {% else %}
            {% for item in playlist %}
            <div class="card w-25">
              <div class="card-body">
                <h5 class="card-title">{{item.3}}</h5>
                <p class="card-text">{{item.5}}</p>
                <a href="{% url 'kelola_playlist:playlist_detail' item.6%}" class="btn btn-primary">View Playlist</a>
              </div>
            </div>
            {% endfor %}
          {% endif %}
        </div>
      </section>
      {% if isPodcaster %}
      <section class="row py-5">
        <h2 class="mb-5">Daftar Podcast </h2>
        <div class="d-flex flex-wrap justify-content-center gap-5">
          {% if not podcast %}
          <p>Tidak memiliki podcast</p>
          {% else %}
            {% for item in podcast %}
            <div class="card w-25">
              <div class="card-body">
                <h5 class="card-title">{{item.3}}</h5>
                <p class="card-text">{{item.5}}</p>
                <a href="{% url 'play_podcast:play_podcast' item.0 %}" class="btn btn-primary">View Podcast</a>
              </div>
            </div>
            {% endfor %}
          {% endif %}
        </div>
      </section>
      {% endif %}
      {% if isArtist or isSongwriter %}
      <section class="row py-5">
        <h2 class="mb-5">Daftar Lagu </h2>
        <div class="d-flex flex-wrap justify-content-center gap-5">
          {% if not song %}
          <p>Tidak memiliki lagu</p>
          {% else %}
            {% for item in song %}
            <div class="card w-25">
              <div class="card-body">
                <h5 class="card-title">{{item.0}}</h5>
                <p class="card-text">{{item.2}}</p>
                <a href="#" class="btn btn-primary">View Song</a>
              </div>
            </div>
            {% endfor %}
          {% endif %}
        </div>
      </section>
      {% endif %}
    </div>
  </div>

{% endblock content %}
