{% extends 'base_user.html' %}

{% block meta %}
    <title>Dashboard</title>
    <style>
      .bg-yellow{
        background-color: #c6c639;
      }
      .bg-green{
        background-color: #97b51d;
      }

      .container{
        min-height: 100vh;
      }

      .text-white {
        color: white;
      }
    </style>
{% endblock meta %}

{% block content %}
<style></style>
<div class="container border p-lg-5 text-white text-center">
    <div class="bg-dark d-flex flex-column justify-content-center align-items-center rounded p-lg-5">
      <h2>Mulai Berlangganan!</h2>
      <a href="{% url 'dashboard:riwayat' %}" class="btn btn-primary my-5">Riwayat Transaksi</a>
      <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header fs-5">
                  1 Bulan
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    <span class="fs-4">Rp</span>
                    <span class="fs-2">35</span><span class="fs-6">.000</span>
                </h5>
                  <ul>
                    <li>Bebas iklan dalam konten</li>
                    <li>Akses Konten VIP</li>
                    <li>Download lagu favoritmu</li>
                  </ul>
                  <a href="{% url 'dashboard:paket_payment' %}" class="btn btn-primary">Pilih Paket</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header fs-5">
                    3 Bulan
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    <span class="fs-4">Rp</span>
                    <span class="fs-2">99</span><span class="fs-6">.000</span>
                </h5>
                  <ul>
                    <li>Bebas iklan dalam konten</li>
                    <li>Akses Konten VIP</li>
                    <li>Download lagu favoritmu</li>
                  </ul>
                  <a href="{% url 'dashboard:paket_payment' %}" class="btn btn-primary">Pilih Paket</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header fs-5">
                    6 bulan
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    <span class="fs-4">Rp</span>
                    <span class="fs-2">190</span><span class="fs-6">.000</span>
                  </h5>
                  <ul>
                    <li>Bebas iklan dalam konten</li>
                    <li>Akses Konten VIP</li>
                    <li>Download lagu favoritmu</li>
                  </ul>
                  <a href="{% url 'dashboard:paket_payment' %}" class="btn btn-primary">Pilih Paket</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header fs-5">
                  1 Tahun
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    <span class="fs-4">Rp</span>
                    <span class="fs-2">375</span><span class="fs-6">.000</span>
                  </h5>
                  <ul>
                    <li>Bebas iklan dalam konten</li>
                    <li>Akses Konten VIP</li>
                    <li>Download lagu favoritmu</li>
                  </ul>
                  <a href="{% url 'dashboard:paket_payment' %}" class="btn btn-primary">Pilih Paket</a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
