{% extends 'base_user.html' %}

{% block meta %}
    <title>Dashboard</title>
    <style>
      .bg-yellow{
        background-color: #c6c639;
      }
      .bg-green{
        background-color: #97b51d;
      }

      .container{
        min-height: 100vh;
      }

      .text-white {
        color: white;
      }
    </style>
{% endblock meta %}

{% block content %}
<div class="container border p-lg-5 text-white text-center">
    <div class="bg-dark d-flex flex-column justify-content-center align-items-center rounded p-lg-5">
        <form class="d-flex justify-content-center w-75 mb-5" method="get" id="search-form" style="display: none;">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
            <button class="btn btn-light" type="submit">Search</button>
        </form>
      <h2 class="mb-5">{{message}}</h2>
      {% if contents %}
      <table class="table table-striped">
        <thead class="table-primary rounded">
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Judul</th>
              <th scope="col">Oleh</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for item in contents %}
              <tr>
                <th scope="row">{{item.0}}</th>
                <td>{{item.1}}</td>
                <td>{{item.2}}</td>
                <td>
                    {% if item.0 == 'Podcast' %}
                        <a href="{% url 'play_podcast:play_podcast' item.3 %}" class="btn btn-primary">Lihat</a>
                    {% elif item.0 == 'Song' %}
                        <a href="#" class="btn btn-primary">Lihat</a>
                    {% else %}
                        <a href="{% url 'kelola_playlist:playlist_detail' item.3 %}" class="btn btn-primary">Lihat</a>
                    {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
      {% endif %}
    </div>
  </div>

{% endblock content %}
